@use '../shared' as *;

header {
  padding: $spacing;
}

nav {
  display: flex;
  gap: $spacing;
  align-items: center;

  .logo {
    width: 79px;
    height: 63px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.562));
    }
  }

  ul {
    margin-left: auto;
  }
}
