@use '../shared' as *;
@use 'screenshift/scss' as mq;

#carousel {
  .splide-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: $spacing-lg;

    @include mq.max-mq("tablet") {
      grid-template-columns: 1fr;
      gap: $spacing;
    }
  }

  .splide__pagination {
    width: 50%;

    @include mq.max-mq("tablet") {
      width: 100%;
    }
  }

  .wrap {
    border-radius: $spacing;
    height: 400px;

    @include mq.max-mq("tablet") {
      height: 200px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
