@use '../shared' as *;

#carousel {
  .splide-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: $spacing-lg;
  }

  .splide__pagination {
    width: 50%;
  }

  .wrap {
    border-radius: $spacing;
    height: 400px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
