@use '../shared' as *;
@use 'screenshift/scss' as mq;

#carousel {
  margin-top: $spacing-xxl;

  .splide-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-lg;

    @include mq.max-mq("tablet") {
      display: block;

      .wrap {
        margin-top: $spacing-lg;
      }
    }
  }

  .splide__pagination {
    width: 50%;

    @include mq.max-mq("tablet") {
      width: 100%;

      .wrap {
        height: 100%;
      }
    }
  }

  .wrap {
    border-radius: $spacing;
    height: 350px;

    @include mq.max-mq("tablet") {
      height: 200px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
