@use '../shared' as *;
@use 'screenshift/scss' as mq;

#founder {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq.max-mq("tablet") {
      flex-wrap: wrap;
      gap: $spacing-md;

      .image {
        background: red;
        height: 200px;
        background: url('/media/home/found.webp') center/contain no-repeat;
      }
    }

  }

  .text {
    max-width: 65ch;
    text-align: justify;

    .verse {
      font-weight: 500;
    }

    p {
      &:nth-child(5) {
        font-weight: 600;
      }

      &:not(:nth-child(5)) {
        margin: 0 0 $spacing-xs;
      }
    }

    a {
      background: var(--picton-blue);
      padding: $spacing-xs $spacing;
    }
  }

  .image {
    background: url('/media/home/found.webp') 10% 10%/cover no-repeat;
    min-height: 55vh;
    width: 500px;

    @include mq.max-mq("tablet") {
      height: 600px;
      width: 100%;

      img {
        border-radius: $spacing;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mq.min-mq("tablet") {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      }
    }
  }
}
