@use '../shared' as *;
@use 'screenshift/scss' as mq;

#founder {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq.max-mq("tablet") {
      flex-wrap: wrap;
      gap: $spacing-md;

      .text {
        max-width: none;
      }
    }

  }

  .text {
    max-width: 65ch;
    text-align: justify;

    .verse {
      font-weight: 500;
    }

    p {
      &:nth-child(5) {
        font-weight: 600;
      }

      &:not(:nth-child(5)) {
        margin: 0 0 $spacing-xs;
      }
    }

    a {
      background: var(--picton-blue);
      padding: $spacing-xs $spacing;
    }
  }

  .image {
    .wrap {
      max-width: 500px;
      max-height: 600px;
      border-radius: $spacing;
    }

    @include mq.max-mq("tablet") {
      width: 100%;

      .wrap {
        background: red;
        max-width: none;
        object-position: 10% -100%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
