@use '../shared' as *;

#founder {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text {
    max-width: 65ch;
    text-align: justify;

    .verse {
      font-weight: 500;
    }

    p {
      &:nth-child(5) {
        font-weight: 600;
      }

      &:not(:nth-child(5)) {
        margin: 0 0 $spacing-xs;
      }
    }

    a {
      background: var(--picton-blue);
      padding: $spacing-xs $spacing;
    }
  }

  .image {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: url('/media/home/found.webp') right center/cover no-repeat;
    height: 55vh;
    width: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
  }
}
