@use '../shared' as *;
@use 'screenshift/scss' as mq;

#stats {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $spacing;
    justify-content: space-evenly;

    @include mq.max-mq("mobile") {
      justify-content: space-between;

      .stat {
        padding: 0;
      }

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .stat {
    text-align: center;

    h1 {
      :nth-child(1) {
        animation: falling .5s cubic-bezier(0.95, 0.53, 0.02, 1.26) .2s forwards, falling-opacity .5s ease-in-out .2s forwards;
      }

      :nth-child(2) {
        animation: falling .5s cubic-bezier(0.95, 0.53, 0.02, 1.26) .3s forwards, falling-opacity .5s ease-in-out .3s forwards;
      }

      :nth-child(3) {
        animation: falling .5s cubic-bezier(0.95, 0.53, 0.02, 1.26) .4s forwards, falling-opacity .5s ease-in-out .4s forwards;
      }

      :nth-child(4) {
        animation: falling .5s cubic-bezier(0.95, 0.53, 0.02, 1.26) .4s forwards, falling-opacity .5s ease-in-out .5s forwards;
      }

      span {
        display: none;
        font-weight: inherit;
        opacity: 0;
      }

      &.is-in-view {
        span {
          display: inline-block;
        }
      }
    }
  }
}

@keyframes falling {
  from {
    transform: translateY(-25%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes falling-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
