@use '../shared' as *;

#gallery {
  .title {
    text-align: center;
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xxl;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-xl;

    .card {
      background: color-mix(in srgb, var(--color-base-300), transparent 50%);
      padding: $spacing;
      position: relative;

      a {
        position: absolute;
        inset: 0;
      }
    }

    .wrap {
      height: 300px;
      border-radius: $spacing;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
