// Responsive manager
@use 'screenshift/scss';

// Shared stuff : vars, typos, mixins and etc...
@use 'shared';

// Layout styles : header and footer basically
@use 'layout';

// Home page sections styles
@use 'home';

main {
  display: grid;
  gap: shared.$spacing-xxl;
}
